<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming />
    <PC_DESKTOP-MK32EF2>
      <subdClientApp.Properties.Settings>
        <Login>test1</Login>
        <Server>http://localhost:58339</Server>
        <Password>1</Password>
        <IsRemember>True</IsRemember>
      </subdClientApp.Properties.Settings>
    </PC_DESKTOP-MK32EF2>
  </userSettings>
</configuration>